.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin-top: 80px;
}

.box_card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  padding: 30px 20px;
  justify-content: center;
  width: 200px;
  background-color: #fff;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  font-size: 16px;
  color: #000;
  font-weight: 500;
}

.card:hover {
  scale: 1.04;
}

@media screen and (max-width: 580px) {
  .content {
    margin-top: 65px;
  }

  .card {
    width: 90%;
    margin: 10px 0;
  }
}
